Repository eifinger/hass-weenect: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, check-ast, check-docstring-first, check-json, check-toml, check-yaml, codespell, debug-statements, mypy, pytest, yamllint

ruff:
  name: âœ… Lint using ruff
  language: system
  entry: ruff check
  args:
  - --fix
  - --exit-non-zero-on-fix

check-ast:
  name: ğŸ Check Python AST
  language: system
  entry: check-ast

check-docstring-first:
  name: â„¹ï¸  Check docstring is first
  language: system
  entry: check-docstring-first

check-json:
  name: ï½› Check JSON files
  language: system
  entry: check-json

check-toml:
  name: âœ… Check TOML files
  language: system
  entry: check-toml

check-yaml:
  name: âœ… Check YAML files
  language: system
  entry: check-yaml

codespell:
  name: âœ… Check code for common misspellings
  language: system
  entry: codespell --ignore-words=.codespell

debug-statements:
  name: ğŸªµ  Debug Statements and imports (Python)
  language: system
  entry: debug-statement-hook

mypy:
  name: ğŸ† Static type checking using mypy
  language: system
  entry: mypy
  require_serial: true

pytest:
  name: ğŸ§ª Running tests and test coverage with pytest
  language: system
  entry: pytest
  pass_filenames: false

yamllint:
  name: ğŸ—  Check YAML files with yamllint
  language: system
  entry: yamllint

ci: bump action/deps (#384)
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  custom_components/weenect/binary_sensor.py
  custom_components/weenect/button.py
  custom_components/weenect/device_tracker.py
  custom_components/weenect/select.py
  custom_components/weenect/sensor.py
  pyproject.toml
  tests/test_config_flow.py
  uv.lock
Due: ruff, check-ast, check-docstring-first, check-toml, check-yaml, codespell, debug-statements, mypy, pytest, yamllint

fix: Unused type: ignore comment
  custom_components/weenect/__init__.py
Due: ruff, check-ast, check-docstring-first, codespell, debug-statements, mypy, pytest

ci: Unused type: ignore comment (#385)
  custom_components/weenect/__init__.py
Due: ruff, check-ast, check-docstring-first, codespell, debug-statements, mypy, pytest

chore: bump setup-uv
  .github/workflows/ci.yml
Due: check-yaml, codespell, yamllint

ci: change release process
  .github/release.yml
  .github/scripts/update_version.py
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  custom_components/weenect/const.py
  custom_components/weenect/manifest.json
Due: ruff, check-ast, check-docstring-first, check-json, check-yaml, codespell, debug-statements, mypy, pytest, yamllint

fix: use selector in services.yaml
  custom_components/weenect/services.yaml
Due: check-yaml, codespell, yamllint

chore: pin python to 3.13
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

fix: test_setup_entry_exception
  tests/test_init.py
Due: ruff, check-ast, check-docstring-first, codespell, debug-statements, mypy, pytest

fix: test_setup_entry_exception (#389)
  tests/test_init.py
Due: ruff, check-ast, check-docstring-first, codespell, debug-statements, mypy, pytest

fix: use translation placeholders for docs URL in config flow
  custom_components/weenect/config_flow.py
  custom_components/weenect/translations/de.json
  custom_components/weenect/translations/en.json
Due: ruff, check-ast, check-docstring-first, check-json, codespell, debug-statements, mypy, pytest

fix: use translation placeholders for docs URL in config flow (#391)
  custom_components/weenect/config_flow.py
  custom_components/weenect/translations/de.json
  custom_components/weenect/translations/en.json
Due: ruff, check-ast, check-docstring-first, check-json, codespell, debug-statements, mypy, pytest

Migrate from pre-commit to prek
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

chore: update aioweenect to 1.1.6
  custom_components/weenect/manifest.json
  pyproject.toml
Due: check-json, check-toml, codespell

chore: update aioweenect to 1.1.7
  custom_components/weenect/manifest.json
  pyproject.toml
Due: check-json, check-toml, codespell

Migrate from pre-commit to prek (#392)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: check-toml, check-yaml, codespell, yamllint

chore: update aioweenect to 1.1.7 (#395)
  custom_components/weenect/manifest.json
  pyproject.toml
Due: check-json, check-toml, codespell

Path conditions:
  ruff: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  codespell: any file but: (?x)^(
    .lock
)$

  debug-statements: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
